
@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-title-area" data-bg-img="../assets/img/photos/bg-page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content text-center">
                    <h2 class="title text-white">ارتباط با ما</h2>
                    <div class="bread-crumbs">
                        <a href="index.html">
                            خانه
                            <span class="breadcrumb-sep">/</span>
                        </a>
                        <span class="active">ارتباط با ما</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form">
                    <form class="contact-form-wrapper" id="contact-form" action="http://whizthemes.com/mail-php/raju/arden/mail.php" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title">
                                    <h2 class="title">ارسال پیغام</h2>
                                    <p>لطفا نظرات خود را راجع به سایت ما بیان فرمایید</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="con_name" placeholder="نام شما">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="con_email" placeholder="آدرس ایمیل">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="con_phone" placeholder="موضوع">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <textarea class="form-control textarea" name="con_message" placeholder="متن خود را وارد نمایید....."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <button class="btn btn-theme" type="submit">ارسال</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-message"></div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title mt-md-30">
                            <h2 class="title">ارتباط با ما</h2>
                            <p>مجموعه آرکو به صورت گسترده در فعالیت های مربوط به حوزه ی تجهیزات آشپزخانه های صنعتی ,فست فود , رستوران و کافی شاپ مشغول به ارائه خدمات می باشد.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-info-content">
                            <div class="contact-info-item">
                                <div class="content">
                                    <h4>دفتر:</h4>
                                    <p> تهران - فلکه دوم صادقیه خیابان ولیعصر کوچه تقدیری</p>
                                </div>
                            </div>
                            <div class="contact-info-item">
                                <div class="content">
                                    <h4>تلفن</h4>
                                    <p>(021) 44053112<br>(021) 44059704</p>
                                </div>
                            </div>
                            <div class="contact-info-item mb-0 pb-0">
                                <div class="content">
                                    <h4>آدرس سایت</h4>
                                    <p>info@Arco-tajhiz.com<br>www.Arco-tajhiz.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-map-area pt-80">
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=51.32973968982697%2C35.7196621232096%2C51.33682072162629%2C35.723503388465645&amp;layer=mapnik&amp;marker=35.721582778987674%2C51.33328020572662" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=35.72158&amp;mlon=51.33328#map=18/35.72158/51.33328">مسیریابی کنید</a></small>
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d309.9741254427454!2d51.33316515325027!3d35.72137194227616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3469184d2890fbf9!2zMzXCsDQzJzE3LjEiTiA1McKwMTknNTkuNSJF!5e0!3m2!1sen!2s!4v1670509267087!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
                </div>
            </div>
        </div>
    </div>
</section>
  </main>

