
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="../assets/img/photos/bg-page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h2 class="title text-white">درباره ما</h2>
                        <div class="bread-crumbs"><a href="index.html">خانه<span class="breadcrumb-sep">/</span></a><span class="active">درباره ما</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Page Title Area ==-->
    <!--== Start About Area ==-->
    <section class="about-area about-default-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content">
                 
                        <h2 class="text-right"><strong>تجهیزات آشپزخانه صنعتی آرکو</strong></h2>
                        <br>


                        <p class="text-justify">
                            مجموعه آرکو به صورت گسترده در فعالیت های مربوط به حوزه ی <span class="no-decoration">
                                <strong>
                                    <a title="تجهیزات آشپزخانه صنعتی"
                                       href="{{ url('/') }}">تجهیزات آشپزخانه های صنعتی</a>
                                </strong>
                            </span> ,فست فود ,
                            رستوران و کافی شاپ مشغول به ارائه خدمات می باشد.
                        </p>

                        <p class="text-justify">این خدمات شامل موارد ذیل می باشد:</p>

                        <p class="text-justify">
                            - تولید تجهیزات و تامین ماشین آلات وارداتی اعم از خطوط پخت ,انواع یخچال و فریزر و سردخانه ها و تامین لوازم و
                            ماشین آلات کافی شاپ ها<br />
                            <br />
                            - اعزام کارشناسان جهت مشاوره ,طراحی و ارائه پلان
                        </p>

                        <p class="text-justify">
                            - خدمات پس از فروش شامل:نصب و راه اندازی ,تعمیر و نگهداری تجهیزات خریداری شده از مجموعه و همچنین تعمیر و تامین
                            قطعات یدکی کلیه تجهیزات آشپزخانه های صنعتی
                        </p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumb mt-md-60">
                        <img src="~/assets/img/about/1.png" alt="Image-Alan">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End About Area ==-->

    <!--== Start Team Area ==-->
    <section class="team-area team-default-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 m-auto">
                    <div class="section-title text-center">
                        <h2 class="title">اعضا آرکو</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="team-member">
                        <div class="thumb">
                            <img src="~/assets/img/team/1.png" alt="Image">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="member-info">
                                <h4 class="name"><a href="#/">Mr. Nirob Khan</a></h4>
                                <h6 class="designation">Manager</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="team-member">
                        <div class="thumb">
                            <img src="~/assets/img/team/2.png" alt="Image">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="member-info">
                                <h4 class="name"><a href="#/">Ms. Emma</a></h4>
                                <h6 class="designation">Designer</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="team-member">
                        <div class="thumb">
                            <img src="~/assets/img/team/3.png" alt="Image">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="member-info">
                                <h4 class="name"><a href="#/">Mike Banding</a></h4>
                                <h6 class="designation">Developer</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Team Area ==-->
    <!--== Start Brand Logo Area ==-->
    <section class="brand-logo-area brand-logo-default-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="swiper-container brand-logo-slider-container">
                        <div class="swiper-wrapper brand-logo-slider">
                            <div class="swiper-slide brand-logo-item">
                                <a href="#/"><img src="~/assets/img/brand-logo/1.png" alt="Brand-Logo"></a>
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                <a href="#/"><img src="~/assets/img/brand-logo/2.png" alt="Brand-Logo"></a>
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                <a href="#/"><img src="~/assets/img/brand-logo/3.png" alt="Brand-Logo"></a>
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                <a href="#/"><img src="~/assets/img/brand-logo/4.png" alt="Brand-Logo"></a>
                            </div>
                            <div class="swiper-slide brand-logo-item">
                                <a href="#/"><img src="~/assets/img/brand-logo/5.png" alt="Brand-Logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Brand Logo Area ==-->
</main>

