<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="ICEConnection" connectionString="Application Name=ICE;Data Source=.,1433;Initial Catalog=ICE_Test;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ICELogConnection" connectionString="Application Name=ICELog;Data Source=.,1433;Initial Catalog=ICELog_Test;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ICEUsermanagementConnection" connectionString="Application Name=ICEUserManagement;Data Source=.,1433;Initial Catalog=ICEUserManagement_Test;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="showHelp" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <security xdt:Transform="Replace">
      <ipSecurity allowUnlisted="false">
        <clear/>
        <add ipAddress="92.119.70.154" allowed="true" />
        <add ipAddress="91.92.215.157" allowed="true" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>