<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="ApiICS24Link" value="https://Api.ics24.ir/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="showHelp" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MainURL" value="https://www.icescoring.com/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiPresentUrl" value="https://api.icescoring.com/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiFirmUrl" value="https://apiFirm.icescoring.com/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiCoreUrl" value="http://172.16.100.141/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OTPFromICS24" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppICS24ApiLink" value="https://app.ics24.ir/b2b/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppICS24ApiKey" value="https://app.ics24.ir/b2b/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewCBSIcs24Link" value="https://app.ics24.ir/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewCBSIcs24Version" value="2.0"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.webServer>
    <security xdt:Transform="Replace">
      <ipSecurity allowUnlisted="false">
        <clear/>
        <add ipAddress="79.175.172.101" allowed="true" />
        <add ipAddress="92.119.70.154" allowed="true" />
        <add ipAddress="91.92.215.157" allowed="true" />
        <add ipAddress="91.98.43.33" allowed="true" />
        <add ipAddress="172.16.100.141" allowed="true" />

        <!--Closed-->
        <!--Main ip of TotalShad-->
        <!--<add ipAddress="130.185.72.182" allowed="true" />
        <add ipAddress="195.248.241.243" allowed="true" />
        <add ipAddress="171.22.26.13" allowed="true" />
        <add ipAddress="171.22.26.55" allowed="true" />-->

        <!--Main ip of Taktazan-->
        <add ipAddress="188.211.155.44" allowed="true" />
        <add ipAddress="91.98.20.116" allowed="true" />

        <!--Main ip of Mazhin Khodro -->
        <add ipAddress="185.51.202.79" allowed="true" />

        <!--Main ip of Mashinchi-->
        <add ipAddress="79.175.159.117" allowed="true" />
        <add ipAddress="79.175.159.119" allowed="true" />
        <add ipAddress="79.175.159.120" allowed="true" />
        <add ipAddress="79.175.159.122" allowed="true" />

        <!--Main ip of Zarsam(peramoon)-->
        <add ipAddress="78.47.169.133" allowed="true" />
        <add ipAddress="78.46.141.61" allowed="true" />

        <!--Closed-->
        <!--Main ip of ifad-->
        <!--<add ipAddress="45.82.137.58" allowed="true" />-->

        <!--Closed-->
        <!--Main ip of MR-Bahadori -->
        <!--<add ipAddress="5.253.26.191" allowed="true" />-->

        <!--Main ip of pergas-ofogh -->
        <add ipAddress="87.236.210.9" allowed="true" />

        <!--Main ip of Fanup-datin-wepod -->
        <add ipAddress="188.75.65.121" allowed="true" />
        <add ipAddress="91.208.165.55" allowed="true" />
        <add ipAddress="109.201.0.100" allowed="true" />
        <add ipAddress="37.152.185.106" allowed="true" />
        <add ipAddress="185.239.106.200" allowed="true" />
        <add ipAddress="188.75.65.194" allowed="true" />
        <add ipAddress="188.75.65.147" allowed="true" />
        <add ipAddress="188.75.65.101" allowed="true" />

        <!--Main ip of Vista  ویستا پارس سامانه-->
        <add ipAddress="193.151.130.78" allowed="true" />

        <!--Main ip of شرکت رادمان یدک اروند-->
        <add ipAddress="81.12.114.235" allowed="true" />
        <add ipAddress="91.92.124.203" allowed="true" />

        <!--Main ip of شرکت تامین سرمایه تمدن-->
        <add ipAddress="185.78.21.137" allowed="true" />
        <add ipAddress="185.78.21.128" allowed="true" />
        
        <!--Main ip of ایرانسل-->
        <add ipAddress="92.42.49.101" allowed="true" />
        <add ipAddress="92.42.49.32" allowed="true" />
        
        <!--Main ip of شرکت امانت پی-->
        <add ipAddress="212.33.205.35" allowed="true" />

        <!--Main ip of شرکت آسان خرید سانا ایرانیان-->
        <add ipAddress="88.135.36.252" allowed="true"/>
        
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>
