<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="ApiICS24Link" value="https://Api.ics24.ir/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="showHelp" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MainURL" value="https://www.icescoring.com/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiPresentUrl" value="https://Sandbox.IceScoring.com/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiFirmUrl" value="https://apiFirm.icescoring.com/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiCoreUrl" value="http://172.16.100.141/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OTPFromICS24" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppICS24ApiLink" value="https://ICSSandBox.icescoring.com/b2b/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppICS24ApiKey" value="https://app.ics24.ir/b2b/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewCBSIcs24Link" value="https://ICSSandBox.icescoring.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewCBSIcs24Version" value="2.0"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
