<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ICE.Api.Firm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApiICS24Link" value="https://Api.ics24.ir/" />
    <add key="showHelp" value="false" />
    <add key="MainURL" value="https://www.icescoring.com/" />
    <add key="ApiPresentUrl" value="https://api.icescoring.com/" />
    <add key="ApiFirmUrl" value="https://apiFirm.icescoring.com/" />
    <add key="ApiCoreUrl" value="http://172.16.100.141/" />
    <add key="OTPFromICS24" value="true" />
    <add key="AppICS24ApiLink" value="https://app.ics24.ir/b2b/api/" />
    <add key="AppICS24ApiKey" value="M2I2OTZlNTUtMWY5Ny00NGQzLWI5NjEtNTgzMWQ3YzU0NTBi" />
    <add key="NewCBSIcs24Link" value="https://app.ics24.ir/" />
    <add key="NewCBSIcs24Version" value="2.0" />-->
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApiICS24Link" value="https://ICSSandBox.icescoring.com/" />
    <add key="showHelp" value="true" />
    <add key="MainURL" value="https://dev.icescoring.com/" />
    <add key="ApiPresentUrl" value="https://Sandbox.IceScoring.com/" />
    <add key="ApiFirmUrl" value="https://apiFirm.icescoring.com/" />
    <add key="ApiCoreUrl" value="http://172.16.100.141/" />
    <add key="OTPFromICS24" value="true" />
    <add key="AppICS24ApiLink" value="https://ICSSandBox.icescoring.com/b2b/api/" />
    <add key="AppICS24ApiKey" value="https://ICSSandBox.icescoring.com/b2b/api/" />
    <add key="NewCBSIcs24Link" value="https://ICSSandBox.icescoring.com/" />
    <add key="NewCBSIcs24Version" value="2.0" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <connectionStrings>
    <add name="ICEConnection" connectionString="Application Name=ICE;Data Source=79.175.172.101,1433;Initial Catalog=ICE;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ICELogConnection" connectionString="Application Name=ICELog;Data Source=79.175.172.101,1433;Initial Catalog=ICELog;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ICEUsermanagementConnection" connectionString="Application Name=ICEUserManagement;Data Source=79.175.172.101,1433;Initial Catalog=ICEUserManagement;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ICENewCoreConnection" connectionString="Application Name=ICECore;Data Source=79.175.172.101,1433;Initial Catalog=ICECore;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    
    <!--<add name="ICEConnection" connectionString="Application Name=ICE;Data Source=79.175.172.101,1433;Initial Catalog=ICE_Test;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ICELogConnection" connectionString="Application Name=ICELog;Data Source=79.175.172.101,1433;Initial Catalog=ICELog_Test;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ICEUsermanagementConnection" connectionString="Application Name=ICEUserManagement;Data Source=79.175.172.101,1433;Initial Catalog=ICEUserManagement_Test;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ICENewCoreConnection" connectionString="Application Name=ICECore;Data Source=79.175.172.101,1433;Initial Catalog=ICECore_Test;Persist Security Info=False;User ID=sa;Password=H&amp;D@ServerHuge;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <ICE.Api.Firm.Properties.Settings>
      <setting name="ICE_Api_Firm_ir_shaparak_sep_PaymentIFBinding" serializeAs="String">
        <value>https://sep.shaparak.ir/MultiSettle/payments/initpayment.asmx</value>
      </setting>
      <setting name="ICE_Api_Firm_ir_shaparak_bpm_PaymentGatewayImplService" serializeAs="String">
        <value>https://bpm.shaparak.ir/pgwchannel/services/pgw</value>
      </setting>
    </ICE.Api.Firm.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
